body{
    background-color: white;
}

.seccion_primera{
    text-align: center; /* alineación del texto */
    color: #ff833b;
    padding: 10px;
    background-color: rgb(23, 241, 209);  /* color de fondo para una página */
    margin-bottom: 30px;
}

.seccion_deportistas{
    text-indent: 50px;  /* sangria de la primera línea */
    text-align: left; 
}

#btnUpdate{   /* desaparece el boton ACTUALIZAR DATOS */
    display: none;
}

.navbar{
    background-color: rgb(9, 6, 112);
    color: white;
}
.navbar-brand{
    color: white;
}